
                                <span>{{ error }}</span>
                                <span>{{ error }}</span>
                                <span>{{ error }}</span>
                                <span>{{ error }}</span>
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.confirm_password.errors %}
                            {% for error in form.email.errors %}
                            {% for error in form.password.errors %}
                            {% for error in form.username.errors %}
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="invalid-feedback">
                        <div class="invalid-feedback">
                        <div class="invalid-feedback">
                        <div class="invalid-feedback">
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        {{ form.email(class="form-control form-control-lg") }}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        {{ form.password(class="form-control form-control-lg") }}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% else %}
                    {% else %}
                    {% else %}
                    {% else %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% if form.confirm_password.errors %}
                    {% if form.email.errors %}
                    {% if form.password.errors %}
                    {% if form.username.errors %}
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.username.label(class="form-control-label") }}
                </div>
                </div>
                </div>
                </div>
                <div class="form-group">
                <div class="form-group">
                <div class="form-group">
                <div class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </fieldset>
            <div class="form-group">
            <fieldset class="form-group">
            Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
            {{ form.hidden_tag() }}
        </form>
        </small>
        <form method="POST" action="">
        <small class="text-muted">
    </div>
    </div>
    <div class="border-top pt-3">
    <div class="content-section">
{% block content %}
{% endblock content %}
{% extends "layout.html" %}
